@media screen and (max-width: 430px) {
    footer {
        width: 100%;
        background-color: #F9F9F9;
        display: flex;
        flex-direction: column;
        padding: 50px 0;

        .listas {
            flex-direction: column;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    margin: 20px 0;
                }

                ul {
                    list-style: none;
                    padding: 5px 0;

                    p {
                        font-size: 12px;
                        font-weight: 300;
                        text-align: justify;
                    }
                }
            }
        }

        .direitos {
            gap: 5px;
            padding: 10px 33px;
        }

        .terms{
            flex-direction: column;
            gap: 20px;
        }
    }
}

@media screen and (min-width: 431px) {
    footer {
        .listas {
            justify-content: space-between;

            div {
                width: 216px;

                h2 {
                    margin-bottom: 20px;
                }

                ul {
                    width: 80%;

                    p:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .direitos {
            gap: 5px;
            padding: 10px 33px;
        }

        .terms {
            div {
                border-right: solid 1px var(--marrom-terra);
                padding-right: 20px;
            }

            ul {
                li {
                    cursor: pointer;
                }
            }
        }
    }
}

footer {
    width: 100%;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    padding: 50px 0;

    .listas {
        display: flex;
        padding-left: 33px;

        div {
            h2 {
                color: var(--marrom-terra);
                font-size: 24px;
                font-weight: 400;
            }

            ul {
                list-style: none;
                padding: 5px 0;

                p {
                    font-size: 12px;
                    font-weight: 300;
                    text-align: justify;
                }
            }
        }
    }

    .direitos {
        border-top: solid 1px var(--marrom-terra);
        border-bottom: solid 1px var(--marrom-terra);
        display: flex;
        flex-direction: column;

        p {
            font-size: 12px;
            font-weight: 200;
        }
    }

    .terms {
        display: flex;
        align-items: center;
        padding-left: 33px;
        margin-top: 20px;

        div {
            h2 {
                font-size: 16px;
                font-weight: 600;
            }
        }

        ul {
            list-style: none;
            width: 120px;
            text-align: center;
            padding: 0 10px;

            li {
                font-size: 12px;
            }
        }
    }
}