<header>
    <div class="logo-navigation">
        <h1 id="logo">EcoMarket</h1>
        <div class="navigation-bar">
            <button>
                <fa-icon [icon]="faSearch" class="icon" />
            </button>
            <input type="text" placeholder="Search" id="search">
        </div>
    </div>

    <div class="header-profile">
        <div class="header-tab">
            <!-- Criar pop-up ou redirecionar para outra tela -->
            <img src="assets/cart-shopping.png" alt="Ícone do carrinnho de compras">
            <img src="assets/sms.png" alt="Ícone para chat de conversas">
            <img src="assets/notification.png" alt="Ícone de notificações">
        </div>

        <div class="profile">
            <div>
                <p id="nome">Olá, <b>Lucas Morais</b></p>
                <div>
                    <p id="membro">Gold Member</p>
                    <img src="assets/Plant.png" alt="ícone de membro">
                </div>
            </div>
            <fa-icon [icon]="faUser" class="icon user"/>
        </div>
    </div>
</header>