<header>
    <h1 id="logo">EcoMarket</h1>

    <div class="navigation-bar">
        <button>
            <fa-icon [icon]="faSearch" class="icon"/>
        </button>
        <input type="text" placeholder="Search" id="search">
    </div>

    <div class="header-tab">
        <img src="assets/cart-shopping.png" alt="Ícone do carrinnho de compras">
        <img src="assets/sms.png" alt="Ícone para chat de conversas">
        <img src="assets/notification.png" alt="Ícone de notificações">
    </div>

    <div class="profile">
        teste
    </div>
</header>