@font-face {
    font-family: "Dharrochy";
    src: url("../../../assets/Dharrochy Font/Dharrochy.otf") format("opentype"), url("../../../assets/Dharrochy Font/Dharrochy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@media screen and (max-width: 430px) {

    header {
        flex-direction: column-reverse;
        gap: 10px;
        margin-top: 40px;
    }

    .logo-navigation {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;

        .navigation-bar {
            width: 220px;
            
        }
    }

    .header-profile {
        display: flex;
        align-items: center;
        justify-content: right;
        margin-top: 40px;
        width: 100%;
    }
}

@media screen and (min-width: 431px) {
    header {
        align-items: end;
        justify-content: space-around;
        align-items: center;

        .logo-navigation {
            display: flex;
            gap: 30px;
    
            .navigation-bar {
                cursor: text;
                width: 100%;
        
                button {
                    cursor: pointer;
                }
            }
        }
    
        .header-profile {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}

header {
    width: 100%;
    height: 74px;
    display: flex;
    border-radius: 0 0 20px 20px;
    background-color: #fff;

    h1 {
        font-family: 'Dharrochy', sans-serif;
        font-size: 33px;
        color: var(--verde-sustentavel);
    }

    .navigation-bar {
        border: solid 1px var(--marrom-terra);
        padding: 3px 20px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        gap: 10px;

        button {
            border: none;
            background-color: transparent;

            .icon {
                font-size: 14px;
                color: var(--marrom-terra);
            }
        }

        input {
            color: var(--marrom-terra);
            font-size: 16px;
            border: none;
            width: 100%;
            outline: none;
        }
    }

    .header-tab {
        display: flex;
        gap: 10px;

        img {
            cursor: pointer;
            width: 24px;
            height: 20px;
        }
    }

    .profile {
        display: flex;
        box-shadow: 0 4px 4px 0 rgba($color: #dadada, $alpha: 0.25);
        width: 213px;
        height: 46px;
        border-radius: 25px;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;

        #foto-perfil {
            width: 36px;
            height: 33px;
            border-radius: 30px;
        }

        p {
            font-weight: 200;
        }

        div:first-child {
            display: flex;
            flex-direction: column;

            #nome {
                font-size: 14px;
            }

            div {

                #membro {
                    font-size: 12px;
                    color: var(--amarelo-organico);
                }

                display: flex;
                align-items: end;
                justify-content: end;
            }
        }
    }
}