<div id="banner">
    <section>
        <header>
            <div id="promo">
                <h2>Fique mais saudável<br> com a promoção 9.9</h2>
                <button>Compre agora</button>
            </div>

            <div id="side-right">
                <div id="cupom">
                    <div>
                        <h2 id="porcent">90%</h2>
                        <p>Todos os produtos</p>
                    </div>

                    <div id="info-cupom">
                        <p>Válido até <b>11 de jan</b></p>
                        <button>Resgatar</button>
                    </div>
                </div>
            </div>
        </header>
    </section>
</div>