main {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    padding: 30px 0;
=======
    margin: 30px 0;
>>>>>>> 24fe935cf961ad122431b5d2ad047d928e6f0a82

    section {
        margin: 0 40px;
    }
}