<section>
    <h2>Produtos com desconto</h2>
    <div id="conteiner">
        <div id="card-item" *ngFor="let produto of listRow">
            <div id="content-up">
                <img src="{{produto.img}}" alt="">
                <p>{{produto.name}}</p>
            </div>

            <div id="content-down">
                <p>R$ {{produto.discount}}</p>
                <p id="no-discount">R$ {{produto.price}}</p>
                <button>Adicionar ao carrinho</button>
            </div>
        </div>
    </div>
</section>